.wp-block-buttons {
    gap: bu(2) !important;
    grid-gap: bu(2) !important;
}

.wp-block-button,
.wp-block-file__button {

    display: inline-flex !important;
    align-items: center;

    &.alignleft .wp-block-button__link {
        text-align: left;
    }

    &.alignright .wp-block-button__link {
        text-align: right;
    }

    &__link {
        @include btn-base;
        align-items: center;
        transition: all 0.2s ease-in-out !important;

        .wp-block-button__link-icon {
            stroke-width: 2;
            transition: all 0.2s ease-in-out !important;
        }
    }

    &__link-icon {
        display: flex;
        align-items: center;
        margin-left: 4px;
        width: bu(1.75);
        transition: all 0.2s ease-in-out;
        height: bu(1.75);
    }

    &.is-style-simple {
        .wp-block-button__link {
            @include btn-simple;
        }
    }

    &:not(.is-style-simple):not(.is-style-outline) .has-background {

        &.wp-block-button__link {
            border: none !important;
        }

        &.has-neutral-500-background-color.wp-block-button__link {

            .wp-block-button__link-icon { stroke: var( --wp--preset--color--neutral-100 ); }

            &:hover,
            &:focus {
                background-color: var( --wp--preset--color--neutral-600 ) !important;
            }
        }

        &.has-primary-500-background-color.wp-block-button__link {

            color: var( --wp--preset--color--neutral-600 );

            .wp-block-button__link-icon { stroke: var( --wp--preset--color--neutral-600 ); }

            &:hover,
            &:focus {
                background-color: var( --wp--preset--color--primary-400 ) !important;
            }
        }

        &.has-secondary-500-background-color.wp-block-button__link {

            color: var( --wp--preset--color--neutral-100 );

            .wp-block-button__link-icon { stroke: var( --wp--preset--color--neutral-100 ); }

            &:hover,
            &:focus {
                background-color: var( --wp--preset--color--secondary-600 ) !important;
            }
        }
    }

    &.is-style-outline {

        .wp-block-button__link {
            background-color: transparent !important;
            border: 3px solid;
            padding: 0.5rem 1.5rem;
        }

        .has-neutral-500-background-color.wp-block-button__link {

            color: var( --wp--preset--color--neutral-500 ) !important;

            .wp-block-button__link-icon { stroke: var( --wp--preset--color--neutral-600 ); }

            &:hover,
            &:focus {
                color: var( --wp--preset--color--neutral-600 ) !important;

                .wp-block-button__link-icon { stroke: var( --wp--preset--color--neutral-600 ); }
            }
        }

        .has-primary-500-background-color.wp-block-button__link {

            color: var( --wp--preset--color--primary-500 ) !important;

            .wp-block-button__link-icon { stroke: var( --wp--preset--color--primary-500 ); }

            &:hover,
            &:focus {
                color: var( --wp--preset--color--primary-600 ) !important;

                .wp-block-button__link-icon { stroke: var( --wp--preset--color--primary-600 ); }
            }
        }

        .has-secondary-500-background-color.wp-block-button__link {

            color: var( --wp--preset--color--secondary-500 ) !important;

            .wp-block-button__link-icon { stroke: var( --wp--preset--color--secondary-500 ); }

            &:hover,
            &:focus {
                color: var( --wp--preset--color--secondary-600 ) !important;

                .wp-block-button__link-icon { stroke: var( --wp--preset--color--secondary-600 ); }
            }
        }
    }

    &.is-style-simple {

        .wp-block-button__link {
            background-color: transparent !important;
            margin-right: bu(2);

            .wp-block-button__link-icon {
                margin-left: bu(1);
            }
        }

        .has-neutral-500-background-color.wp-block-button__link {

            color: var( --wp--preset--color--neutral-500 );
            .wp-block-button__link-icon { stroke: var( --wp--preset--color--neutral-500 ); }

            &:hover,
            &:focus {
                color: var( --wp--preset--color--neutral-300 );
                .wp-block-button__link-icon { stroke: var( --wp--preset--color--neutral-300 ); }
            }
        }

        .has-primary-500-background-color.wp-block-button__link {

            color: var( --wp--preset--color--primary-500 );
            .wp-block-button__link-icon { stroke: var( --wp--preset--color--primary-500 ); }

            &:hover,
            &:focus {
                color: var( --wp--preset--color--primary-400 );
                .wp-block-button__link-icon { stroke: var( --wp--preset--color--primary-400 ); }
            }
        }

        .has-secondary-500-background-color.wp-block-button__link {

            color: var( --wp--preset--color--secondary-500 );
            .wp-block-button__link-icon { stroke: var( --wp--preset--color--secondary-500 ); }

            &:hover,
            &:focus {
                color: var( --wp--preset--color--secondary-600 );
                .wp-block-button__link-icon { stroke: var( --wp--preset--color--secondary-600 ); }
            }
        }
    }
}