.wp-block-columns {

    gap: 0 !important;

    .wp-block-column > * {
        @include block-margin(3);

        &.alignwide { @include block-margin(4); }
        &.alignfull { @include block-margin(5); }
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {

    .wp-block-columns {

        .wp-block-column > * {
            @include block-margin(5);

            &.alignwide { @include block-margin(6); }
            &.alignfull { @include block-margin(7); }
        }
    }
}

@include media( $phone ) {

    .wp-block-columns {
        flex-wrap: nowrap !important;
        gap: 2rem !important;
    }
}

@include media( $tablet ) {

    .wp-block-columns {
        gap: 1.5rem;
    }
}