.wp-block-goldfinch-content-carousel {

    padding: bu(6) 0;
    padding-top: 3rem !important;
    overflow: hidden;

    &.is-style-default {

        .slick-track {
            margin: 0 !important;
            display: flex !important;
            gap: bu(3);
        }

        .wp-block-goldfinch-content-carousel__slide:not(.slick-current) {
            opacity: 0.5;
        }

        .wp-block-goldfinch-content-carousel__slide-thumbnail {
            object-fit: cover;

            img { width: 100%; }
        }

        .wp-block-goldfinch-content-carousel__slide-body {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: bu(3);

            > * {
                width: 90%;
                margin: bu(1) auto;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }

        .wp-block-goldfinch-content-carousel__slide {

            a { color: color( neutral, 600 ); }

            &.slick-current {

                a:hover { color: color( secondary, 500 ); }

                a::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                }
            }
        }

    }
}

@include media( 1100px ) {

    .wp-block-goldfinch-content-carousel {
        &.is-style-with-navigation {

            .slick-current a::after {
                content: '';
                position: absolute;
                inset: 0;
            }

            .slick-current a:hover {
                color: color( secondary, 500 );
            }

            .wp-block-goldfinch-content-carousel__navigation-slide {

                opacity: 0.3;
                border-top: 8px solid color( neutral );

                &.slick-current {
                    opacity: 1;
                    cursor: default;
                    border-top: 8px solid color( secondary, 400 );
                }
            }

            .wp-block-goldfinch-content-carousel__slides-navigation {

                .wp-block-goldfinch-content-carousel__navigation-slide:not(.slick-current) {
                    position: relative;
                    z-index: 1;

                    &::before {
                        content: '';
                        position: absolute;
                        inset: 0;
                    }
                }

                a { color: color( neutral, 600 ); }

                .slick-track {
                    transform: translate3d(0px, 0px, 0px) !important;
                }
                .wp-block-goldfinch-content-carousel__slide-thumbnail {
                    display: none;
                }
            }
        }
    }
}

@include media( $phone, true ) {

    .wp-block-goldfinch-content-carousel {
        &.is-style-with-navigation {

            padding-left: 1.5rem !important;
            padding-right: 1.5rem !important;

        }
    }

}

@include media( 1100px, true ) {

    .wp-block-goldfinch-content-carousel {
        &.is-style-with-navigation {

            @include alignfull;
            width: 100vw !important;
            padding-left: 2rem;
            padding-right: 2rem;

            .slick-list {
                overflow: visible;
            }

            .wp-block-goldfinch-content-carousel__slides {
                margin-bottom: 0 !important;

                .slick-list {
                    display: none !important;
                }
            }

            .wp-block-goldfinch-content-carousel__navigation-slide {

                position: relative;

                a { color: color( neutral, 600 ); }

                &.slick-active {

                    a:hover { color: color( secondary, 500 ); }

                    a::after {
                        content: '';
                        position: absolute;
                        inset: 0;
                    }
                }

                &:not( .slick-active )::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                }
            }
        }
    }

}

@media screen and ( min-width: 900px ) and ( max-width: 1100px ) {

    .wp-block-goldfinch-content-carousel {
        &.is-style-with-navigation {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }

}

@include media( $tablet, true ) {

    .wp-block-goldfinch-content-carousel {

        &.is-style-with-navigation {

            .slick-slide {
                margin: 0  bu(1);
            }

            .slick-list {
                margin: 0 - bu(1);
            }

        }

        &.is-style-default {

            .slick-dots {
                top: 0.5rem;
            }
        }
    }

}

@include media( $tablet ) {

    .wp-block-goldfinch-content-carousel {

        border: none;
        padding: 0;

        &.is-style-with-navigation {

            .slick-track {
                margin: 0 !important;
                display: flex !important;
                gap: bu(2.5);

                &::before,
                &::after {
                    content: '';
                    flex: 0 0 bu(1);
                }
            }

            .wp-block-goldfinch-content-carousel__slides {
                margin-bottom: 0 !important;
            }

            .wp-block-goldfinch-content-carousel__slide {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                height: 400px;
            }

            .wp-block-goldfinch-content-carousel__slide-thumbnail {

                margin-bottom: bu(2);
            }

            .wp-block-goldfinch-content-carousel__navigation-slide {

                cursor: pointer;
                display: flex !important;
                align-items: flex-start;
                flex-direction: column;
                height: inherit !important;

                & > * { margin: bu(2) 0; }

                &-heading {
                    display: flex;
                    margin-bottom: 0;
                    padding-right: 20%;
                }

                &-content {
                    font-size: 1rem !important;
                    color: color( neutral, 500 );
                    padding-right: bu(6);
                }
            }

            .slick-track {

                &::before,
                &::after {
                    display: none;
                }
            }

            .wp-block-goldfinch-content-carousel__slides {
                .slick-track {
                    gap: 0;
                    margin-left: 0 !important;
                }

                .slick-slide {
                    width: 100% !important;
                }
            }

            .wp-block-goldfinch-content-carousel__slide {
                height: 600px;
            }

            .wp-block-goldfinch-content-carousel__navigation-slide {

                &-content {
                    padding-right: bu(10);
                }

            }
        }

        &.is-style-default {

            @include alignfull;
            width: 100vw !important;

            .slick-track {
                gap: 0;
            }

            .slick-dots {
                max-width: 1000px;
                margin: 0 auto !important;
                left: 50%;
                transform: translateX(-50%)
            }

            .slick-list {
                @include content-container;
                overflow: visible;
            }

            .wp-block-goldfinch-content-carousel__slide-thumbnail {
                padding: 0 bu(4);
            }

            .wp-block-goldfinch-content-carousel__slide-body {

                margin-top: bu(4);

                > * {
                    width: 55%;
                }

            }
        }
    }
}

@include media( $laptop ) {

    .wp-block-goldfinch-content-carousel {

        &.is-style-default {

            .slick-dots {
                max-width: 1100px;
            }
        }
    }
}

@include media( $desktop ) {

    .wp-block-goldfinch-content-carousel {
        &.is-style-with-navigation {

            .wp-block-goldfinch-content-carousel__slide {
                height: 700px;
            }

        }

        &.is-style-default {

            .slick-dots {
                max-width: 1300px;
                margin: 0 auto !important;
            }

            .wp-block-goldfinch-content-carousel__slide-body {
                > * {
                    width: 40%;
                }

            }
        }
    }
}