.wp-block-cover {

    text-align: center;
    padding: 0;

    &__inner-container > * {
        @include block-margin(3);

        &.alignwide { @include block-margin(4); }
        &.alignfull { @include block-margin(5); }
    }

    &.alignfull {
        min-height: 100vh !important;
        margin-top: 0 !important;
    }

    .wp-block-cover__inner-container {
        text-align: center;
    }

    .wp-block-cover-image .wp-block-cover-image-text,
    .wp-block-cover-image .wp-block-cover-text,
    .wp-block-cover-image h2,
    .wp-block-cover-image-text,
    .wp-block-cover-text,
    h2 {
        margin-left: auto;
        margin-right: auto;
    }

    .wp-block-cover__inner-container {
        width: 100%;
        margin: bu(4);
    }

    &__nav-arrow {

        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        border: 2px solid white;
        cursor: pointer;

        position: absolute;
        bottom: bu(4);
        left: 50%;
        transform: translateX(-50%);

        svg {
            width: 1rem;
            height: 1rem;
        }

    }

}

.is-logged-in .wp-block-cover {
    &.alignfull {
        min-height: calc( 100vh - 46px ) !important;
    }
}

@include media( $tablet ) {

    .wp-block-cover {

        &.alignfull {
            min-height: 100vh !important;
            margin-bottom: 4rem;
        }

        .wp-block-cover__inner-container {
            width: 90%;
            margin: bu(4) auto;
        }

        &__inner-container > * {
            @include block-margin(5);

            &.alignwide { @include block-margin(6); }
            &.alignfull { @include block-margin(7); }
        }


    }

    .is-logged-in .wp-block-cover {
        &.alignfull {
            min-height: calc( 100vh - 32px ) !important;
        }
    }

}

@include media( $laptop ) {

    .wp-block-cover {

        .wp-block-cover__inner-container {
            width: 55%;
            margin: bu(2) auto bu(4);
        }

    }

}

@include media( $desktop ) {

    .wp-block-cover {

        .wp-block-cover__inner-container {
            width: 35%;
            margin: bu(8) auto bu(4);
        }

    }

}

@include media( $big-desktop ) {

    .wp-block-cover {

        .wp-block-cover__inner-container {
            width: 30%;
            margin: bu(8) auto bu(4);
        }

    }

}