.wp-block-goldfinch-downloads {

    .file {

        &:not(:last-of-type) {
            border-bottom: 1px solid color(tertiary, 300);
        }

        td:first-of-type {
            width: 3rem;
        }

        td {
            vertical-align: middle;
        }

        .file__meta {
            float: right;
            color: color(neutral, 300);
        }

        .file__title {
            color: $link-color;
            font-weight: $body-bold-weight;

            &:hover {
                color: $link-color-hover;
            }
        }

    }

    svg {
        width: 2rem;
    }

}