.wp-block-goldfinch-faqs {

    display: flex;
    flex-direction: column;
    gap: bu(3);

    &__questions {
        display: flex;
        flex-direction: column;
    }

    &__question {
        font-size: 1.1rem;
        margin-bottom: bu(1);
        text-decoration: underline;
        color: color( neutral, 600 );
        font-weight: $body-bold-weight;

        svg {
            height: bu(1.5);
            width: bu(1.5);
            stroke: 2;
            stroke: color( neutral, 600 );
        }
    }

    &__question-title {

        &:not(:first-of-type) {
            padding-top: bu(3);
            margin-top: bu(3);
        }
    }
}

@include media( $tablet ) {

    .wp-block-goldfinch-faqs {

        display: grid;
        grid-template-columns: 35% 1fr;
        position: relative;
        gap: bu(6);
        height: auto;

        &__questions {
            top: 4rem;
            position: sticky;
            align-self: start;
        }

    }
}

@include media( $desktop ) {

    .wp-block-goldfinch-faqs {

        padding: 0 10%;

    }
}