.wp-block-file {

    .wp-block-file__icon {
        display: none;
        stroke-width: 2;
    }

    &:not(.has-download-button) {
        .wp-block-file__icon {
            display: flex;
            stroke: $link-color;
        }
    }

    a {
        display: inline-flex !important;
        align-items: center;
        font-weight: $body-bold-weight;
    }

    &__button {
        @include btn-base;
        font-size: 18px !important;
        padding: 0.6rem 1.8rem !important;
        background-color: var( --wp--preset--color--secondary-500 ) !important;

        &:hover,
        &:focus {
            background-color: var( --wp--preset--color--secondary-600 ) !important;
            opacity: 1;
        }

        .wp-block-file__icon {
            display: flex;
            stroke: var( --wp--preset--color--neutral-100 );
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        margin-left: 4px;
        width: bu(1.75);
        transition: all 0.2s ease-in-out;
        height: bu(1.75);
    }

}