.wp-block-group {

    padding: bu(12) 0;
    position: relative;

    &.is-style-overlap {
        padding-bottom: bu(30);

        & + .wp-block-columns,
        & + .wp-block-image {
            margin-top: - bu(30);
            z-index: 2;
            position: relative;
        }
    }

    & > * {
        @include block-margin(3);

        position: relative;
        z-index: 1;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.wp-block-group > *,
.wp-block-group > .alignwide {

    width: calc( 100% - 3rem );
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.wp-block-group > .alignfull {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@include media( $phone ) {

    .wp-block-group {

        & > * {
            width: calc( 100% - 4rem );
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }

    .wp-block-group.alignfull > *,
    .wp-block-group.alignfull > .alignwide {

        width: calc( 100% - 4rem );
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@include media( $tablet, true ) {

    .wp-block-group {

        & + .wp-block-image {
            @include alignfull;
            width: 100vw !important;

            img {
                border-radius: 0 !important;
            }
        }
    }

}

@include media( $tablet ) {

    .wp-block-group {

        padding: bu(10) 3rem;

        &.is-style-overlap {
            padding-bottom: bu(40) !important;

            & + .wp-block-columns,
            & + .wp-block-image {
                margin-top: - bu(40);
            }
        }

        & > * {
            @include block-margin(4);
            @include content-width(true);

            &.alignwide {
                width: 100%;
                max-width: 100% !important;
            }
        }

        &.alignwide {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        &.alignfull {
            padding: bu(20) 3rem;

            & > *.alignwide {
                width: 100%;
            }

            & > *.alignfull {
                @include alignfull;
            }
        }
    }
}

@include media( $laptop ) {

    .wp-block-group {

        &.alignfull > *.alignwide {
            @include outer-container( 1100px );
        }

        &.alignfull {
            @include container-padding( 1100px );
        }
    }
}

@include media( $desktop ) {

    .wp-block-group {

        padding-left: bu(8);
        padding-right: bu(8);

        &.is-style-overlap {
            padding-bottom: bu(50) !important;

            & + .wp-block-columns,
            & + .wp-block-image {
                margin-top: - bu(55);
            }
        }

        &.alignfull > *.alignwide {
            @include outer-container( 1300px );
        }

        &.alignfull {
            @include container-padding( 1300px );
            padding-bottom: bu(30);
        }
    }
}

@include media( $big-desktop ) {

    .wp-block-group {

        &.alignfull > *.alignwide {
            @include outer-container( 1400px );
        }

        &.alignfull {
            @include container-padding( 1400px );
        }
    }
}