.wp-block-goldfinch-icon-text {

    display: flex;
    flex-wrap: nowrap;

    &[data-variation='inline'] {
        align-items: center;

        .wp-block-goldfinch-icon-text__title {
            margin-bottom: 0;
        }

        .wp-block-goldfinch-icon {
            margin-right: bu(2);
            margin-bottom: 0;
        }
    }

    &[data-variation='stacked'] {

        flex-wrap: wrap;

        .wp-block-goldfinch-icon-text__title {
            font-size: 1.2rem;
        }

        & > * {
            width: 100%;
        }

        &[data-alignment='left'] {
            justify-content: flex-start;
            text-align: left;

            .wp-block-goldfinch-icon {
                justify-content: flex-start;
            }
        }

        &[data-alignment='center'] {
            justify-content: center;
            text-align: center;

            .wp-block-goldfinch-icon {
                justify-content: center;
            }
        }

        &[data-alignment='right'] {
            justify-content: flex-end;
            text-align: right;

            .wp-block-goldfinch-icon {
                justify-content: flex-end;
            }
        }

    }

    &__title {
        margin-bottom: bu(1);
        font-weight: $body-bold-weight;
    }

    .wp-block-goldfinch-icon {
        display: flex;
        align-items: center;
        margin-bottom: bu(2);
    }

    &__snippet {
        margin-bottom: 0;
        color: color( neutral, 500 );
    }

}

@include media( $tablet ) {

    .wp-block-goldfinch-icon-text {

        &[data-variation='stacked'] {

            &[data-alignment='left'] {
                .wp-block-goldfinch-icon-text__snippet {
                    padding: 0 bu(14) 0 0;
                }
            }

            &[data-alignment='center'] {
                .wp-block-goldfinch-icon-text__snippet {
                    padding: 0 bu(7);
                }
            }

            &[data-alignment='right'] {
                .wp-block-goldfinch-icon-text__snippet {
                    padding: 0 0 0 bu(14);
                }
            }

        }
    }
}