.wp-block-image {

    &.alignwide,
    &.alignfull {
        figcaption {
            text-align: center;
        }
    }

    &.size-wide img {
        min-height: 300px;
        object-fit: cover;
    }

    figcaption {

        display: block;
        font-weight: $body-bold-weight;
        color: color( neutral, 900 );
        margin: 0;
        padding: bu(1) 0;

    }

    .wp-block-gallery & figcaption {
        padding: bu(1) bu(3) !important;
        background: var( --wp--preset--color--neutral-100 ) !important;
        opacity: 0.8;
        color: var( --wp--preset--color--neutral-600 ) !important;
        font-size: 0.9rem !important;
    }

}

@include media( $tablet, true ) {

    .wp-block-image {

        &.size-wide img {
            min-height: 500px;
        }

    }

}