.wp-block-goldfinch-map {

    .map-canvas {
        min-height: 30rem;
    }

    &.alignfull .map-canvas,
    &.alignwide .map-canvas {
        min-height: 40rem;
    }

}

@media screen and ( max-width: 900px ) {

    .wp-block-goldfinch-map {

        @include alignfull;
        width: 100vw !important;

        .map-canvas {
            min-height: 30rem !important;
        }

    }

}