.wp-block-media-text {

    .wp-block-media-text__content {
        padding: bu(3) 0;

        & > * { @include block-margin(3); }
        & > *:last-child { margin-bottom: 0; }
    }

}

@include media( 700px, true ) {

    .wp-block-media-text {

        grid-template-columns: 100%!important;

        &.alignwide,
        &.alignfull {

            @include alignfull;
            width: 100vw !important;

            .wp-block-media-text__media {
                @include alignfull;
            }

        }

        .wp-block-media-text__content {
            grid-column: 1 !important;
            grid-row: 2 !important;
        }

        .wp-block-media-text__media {
            grid-column: 1 !important;

            img {
                border-radius: 0 !important;
            }
        }

        .wp-block-media-text__content {
            padding: bu(3);
        }

    }

}

@include media( 700px ) {

    .wp-block-media-text {

        position: relative;

        .wp-block-media-text__content {
            padding: bu(8) bu(4);
        }

        &.alignwide,
        &.alignfull {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

    }

}

@include media( 1000px ) {

    .wp-block-media-text {

        &:not(.alignwide):not(.alignfull) {

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        .wp-block-media-text__content {
            padding: bu(12);
        }

        &.alignfull .wp-block-media-text__content {
            padding: bu(10) bu(14);
        }
    }

    .wp-block-media-text + .wp-block-media-text:not(.has-background)::before {
        height: 0;
    }
}

@include media( $desktop ) {

    .wp-block-media-text {

        .wp-block-media-text__content {
            padding: bu(16);
        }

        &.alignfull .wp-block-media-text__content {
            padding: bu(14) bu(22);
        }
    }
}

@include media( $big-desktop ) {

    .wp-block-media-text {

        &.alignfull .wp-block-media-text__content {
            padding: bu(20) bu(52) bu(20) bu(20);
        }

        &.alignfull.has-media-on-the-right .wp-block-media-text__content {
            padding-left: bu(52);
            padding-right: bu(20);
        }
    }
}