.wp-block-goldfinch-notice {

    display: flex;
    align-items: center;
    clear: both;
    width: 100%;
    border: 1px solid color( neutral, 200 );

    &[data-alert="Error"] .wp-block-goldfinch-notice__icon {
        background-color: utility( utility, alert );
    }
    &[data-alert="Notice"] .wp-block-goldfinch-notice__icon {
        background-color: utility( utility, link );
        color: color( neutral, 100 );
    }
    &[data-alert="Success"] .wp-block-goldfinch-notice__icon {
        background-color: utility( utility, success );
    }
    &[data-alert="Warning"] .wp-block-goldfinch-notice__icon {
        background-color: utility( utility, error );
        svg { stroke: color( neutral, 600 ); }
    }

    &__icon {
        margin: 0;
        margin-right: 1rem;
        width: 2.75rem;
        height: 2.75rem;
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg { stroke: color( neutral, 100 ); }
    }

}