.wp-block-goldfinch-page-link {

    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #E8E8E8;

    scroll-snap-align: center;
    scroll-snap-stop: always;
    min-width: 75%;

    .page-link {

        &__thumbnail img {
            object-fit: fill;
            width: 100%;
        }

        &__header > *,
        &__body > * {
            white-space: break-spaces;
        }

        &__body {
            padding: bu(3);
            display: flex;
            flex-direction: column;
            flex: 1;

            &>*:not(:last-child) {
                margin-bottom: bu(1);
                display: block;
            }

            &>*:last-child {
                margin-bottom: bu(2);
            }
        }

        &__link {
            padding: 0 bu(3) bu(3) bu(3);
        }

        &__subtitle {
            color: color( secondary, 400 );
            font-size: 0.8rem;
            font-weight: $body-extrabold-weight;
            margin-bottom: bu(2);
        }

        &__title {

            margin-bottom: bu(3) !important;

            a {
                color: color( neutral, 700 );
            }

            a::after {
                content: '';
                position: absolute;
                inset: 0;
            }
        }

        &__excerpt {
            font-size: 1rem;
            margin-bottom: 0 !important;
        }

        &__link {

            @include btn-base;
            @include btn-simple;
            z-index: 1;
            position: relative;
            margin-top: bu(2);
            flex: 0;
            font-size: 0.9rem;
            padding: bu(3) !important;

            svg {
                height: bu(2);
                width: bu(2);

                stroke: color( brand, 600 );
                stroke-width: 2;
                margin-left: bu(1);
                transition: stroke 0.2s ease-in-out;
            }

            a:hover,
            a:focus {
                color: color( brand, 400 );

                svg {
                    stroke: color( brand, 400 );
                    transition: stroke 0.2s ease-in-out;
                }
            }
        }

    }

}

.wp-block-goldfinch-page-links {

    gap: bu(1);
    display: flex;

    overflow: scroll;
    white-space: nowrap;

    @include alignfull;
    width: 100vw !important;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    &::before,
    &::after {
        content: "";
        flex: 0 0 0.5rem;
    }

}

@include media( $phone ) {

    .wp-block-goldfinch-page-links {
        gap: bu(3);
    }

    .wp-block-goldfinch-page-link {
        min-width: 50%;
    }

}

@include media( $tablet ) {

    .wp-block-goldfinch-page-links {

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 2rem;
        margin-top: bu(8);
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        overflow: hidden;

        &::before,
        &::after {
            display: none;
        }

    }
}