.wp-block-quote {

    border-left: none;
    padding: 2rem !important;

    &.alignwide {
        padding: 4rem 20% !important;
    }

    &.alignright,
    &.alignleft {
        width: 20rem;
    }

    p {
        font-weight: $body-bold-weight;
        font-size: 1.8rem;
        font-family: $body-font-condensed;
        margin-bottom: bu(1);
        line-height: 1.2;
    }

    cite {
        color: color( secondary, 500 );
        font-weight: $body-extrabold-weight;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

}

@include media( $tablet ) {

    .wp-block-quote {

        &.alignwide {
            padding: 6rem 30% !important;
        }

        &.alignright {
            margin-right: 8rem !important;
            margin-left: 2rem !important;
        }

        &.alignleft {
            margin-left: 8rem !important;
            margin-right: 2rem !important;
        }

    }

}