.wp-block-table {

    border-bottom: none !important;

    &.is-style-stripes,
    &.alignfull {

        td,
        th {
            padding: bu(2);
        }

    }

    tfoot td,
    thead th {
        font-weight: $body-bold-weight;
    }

    &.is-style-stripes {

        tbody tr {
            border-bottom: none;
        }

        tbody tr:nth-child(odd) {
            background-color: color( neutral, 200 );

        }

    }

}