.wp-block-goldfinch-team {

    display: flex;
    gap: bu(1.5);

    .team-member {

        &__image {
            width: 5rem;
            flex-shrink: 0;

            img { border-radius: 100% !important; }
        }

        &__name {
            margin-bottom: 0;
            font-family: $body-font;
            font-weight: $body-bold-weight;
        }

        &__role {

            @include letter-spacing(150);

            font-weight: $body-extrabold-weight;
            color: color( secondary, 500 );
            text-transform: uppercase;
            font-size: 0.8rem;
        }

        &__bio {
            margin-bottom: 0;
            margin-top: bu(1);

            @extend .text--small;
        }

    }
}

@include media( $phone ) {

    .wp-block-goldfinch-team {

        flex-direction: column;
        align-items: center;
        text-align: center;

        .team-member {

            &__image {
                width: 10rem;
                margin-bottom: bu(1);
            }

            &__bio {
                margin-top: bu(1.5);
                padding: 0 bu(1);
            }

        }
    }
}

@include media( $tablet ) {

    .wp-block-goldfinch-team {

        .team-member {

            &__bio {
                padding: 0 bu(7);
            }

        }
    }
}