.wp-block-goldfinch-testimonial__star-rating {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: bu(2);

    svg {
        height: bu(2.5);
        width: bu(2.5);
    }

    .star-outline {
        stroke: color( secondary, 400 );
    }

    .star {
        fill: color( secondary, 400 );
    }

}

@include media( $tablet ) {

    .wp-block-goldfinch-testimonial__star-rating {

        margin-bottom: bu(3);

        svg {
            height: bu(3.5);
            width: bu(3.5);
        }
    }
}