.wp-block-goldfinch-testimonials {

    @include alignfull;
    width: 100vw !important;

    display: flex;
    overflow: scroll;
    white-space: nowrap;
    gap: bu(1.5);
    margin-top: bu(6) !important;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    &::before,
    &::after {
        content: "";
        flex: 0 0 0.25rem;
    }

}

.wp-block-goldfinch-testimonial {

    display: flex !important;
    flex-direction: column;

    scroll-snap-align: center;
    scroll-snap-stop: always;

    background-color: color( tertiary, 200 );
    padding: bu(3) bu(2);
    border-radius: 2px;
    height: inherit !important;

    min-width: 80%;

    &__title {
        display: flex;
        flex-direction: column;
        white-space: break-spaces;
    }

    &__description {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__description p {
        font-size: 0.95rem;
        white-space: break-spaces;
        display: flex;
        flex: 1;
    }

    &__description > *:last-child {
        margin-bottom: 0;
        font-family: $body-font;
        font-size: 1rem;
        font-weight: $body-bold-weight;
        white-space: break-spaces;
    }
}

@include media( $phone ) {

    .wp-block-goldfinch-testimonials {

        gap: bu(2);

        &::before,
        &::after {
            content: "";
            flex: 0 0 1rem;
        }

    }

    .wp-block-goldfinch-testimonial {
        padding: bu(4);
        text-align: left;

        min-width: 40%;
    }
}

@include media( $tablet ) {

    .wp-block-goldfinch-testimonials {

        gap: bu(2.5);

    }

    .wp-block-goldfinch-testimonial {
        padding: bu(6);
    }
}

@include media( $laptop ) {

    .wp-block-goldfinch-testimonials {
        @include container-padding( 1100px );

        &::before,
        &::after {
            display: none;
        }
    }
}

@include media( $desktop ) {

    .wp-block-goldfinch-testimonials {
        @include container-padding( 1300px );
    }

    .wp-block-goldfinch-testimonial {
        min-width: 30%;
    }
}

@include media( $big-desktop ) {

    .wp-block-goldfinch-testimonials {
        @include container-padding( 1400px );
    }
}