/**
 * Containers
 * ============================ */
body,
html {
    height: 100%;
}

body {
    background-color: color( neutral, 100 );

    &.body--inactive {
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
    }

    &.body--inactive.is-logged-in {
        padding-top: 32px;
    }

}

@media screen and (max-width: 782px) {
    body {
        &.body--inactive.is-logged-in {
            padding-top: 46px;
        }
    }
}


.site {

    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;

}

.template--overflow-hidden {
    overflow-x: hidden;
}

.content-area {

    flex: 1 0 0;
    width: calc( 100% - 3rem );

}

@include media( $tablet ) {

    .content-area {
        width: calc( 100% - 4rem );
    }

}

@include media( $laptop ) {

    .content-area {
        width: 100%;
    }

}

.content-wrapper {

    @include content-container;

}

.content-area {
    @extend .content-wrapper;
}

.site-main {

    margin-bottom: bu(10);

}

.site-content,
.site-main,
.content-area {

    @include clearfix;

}