/**
 * Footer
 * ============================ */

.footer {

    clear: both;

    background-color: var(--wp--preset--color--tertiary-200);
    padding: bu(8) 0;
    margin-top: bu(8);

    padding-left: calc( env(safe-area-inset-left, 20px) - 1rem );
    padding-right: calc( env(safe-area-inset-right, 20px) - 1rem );

    &__inner {
        @extend .content-wrapper;

        &--flex {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

    }

    a {
        color: var( --wp--preset--color--neutral-500 );
    }

    .site-credit a {
        text-decoration: underline;
    }

    &__nav-section {
        flex-basis: 100%;
        margin-bottom: bu(4);
    }

    &__nav-section--half {
        flex-basis: 50%;
    }

}

@include media( $tablet ) {

    .footer {

        &__inner {

            &--flex {
                display: flex;
                justify-content: flex-start;
                flex-wrap: nowrap;
            }

        }

        &__nav-section:first-of-type {
            margin-right: auto;
        }

        &__nav-section {
            flex-basis: auto;
            margin-right: bu(10);
            margin-bottom: 0;
        }

        &__nav-section--half {
            flex-basis: auto;
        }

    }

}

@include media( $desktop ) {

    .footer {
        &__nav-section {
            margin-right: bu(16);
        }
    }

}