/**
 * Header
 * ============================ */

.header {

    padding: bu(2) 0;
    background-color: var( --wp--preset--color--tertiary-200 );

    padding-left: calc( env(safe-area-inset-left, 20px) - 1rem );
    padding-right: calc( env(safe-area-inset-right, 20px) - 1rem );

    z-index: z($z-elements, menus);

    &__inner {
        @extend .content-wrapper;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--floating {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: transparent;
    }

}

.main-navigation {
    display: none;
}

@include media( $tablet ) {

    .main-navigation {
        display: block;
    }

    .nav-toggle {
        display: none;
    }

}