/*
 * Buttons
 * ============================ */

input[type="button"],
input[type="reset"],
input[type="submit"],
.button {

    @include btn-base();

    &.button--large {
        font-size: 1.25rem;
    }

    &.button--xlarge {
        font-size: 1.5rem;
    }

    &.button--block {
        display: block;
    }

    &.button--small {
        font-size: 0.85rem;
    }

    &.disabled,
    &:disabled {

        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            opacity: 0.5;
        }

    }

}