/**
 * Forms
 * ============================ */

 form {

    margin-bottom: ms(1);

}

fieldset {
    margin: 0;
    margin-bottom: ms(1);
}

button,
input,
select,
textarea {

    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline;
    /* Improves appearance and consistency in all browsers */
    max-width: 100%;

}

input[type="checkbox"],
input[type="radio"] {

    /* Addresses excess padding in IE8/9 */
    padding: 0;

}

input[type="search"]::-webkit-search-decoration {

    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;

}

input[type="search"] {

    // Overrules normalize.css.
    box-sizing: border-box;

}

button::-moz-focus-inner,
input::-moz-focus-inner {

    /**
     *  Corrects inner padding and border displayed oddly in FF3/4
     *  www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
     */
    border: 0;
    padding: 0;

}

legend {

    display: block;
    width: 100%;
    padding: bu(1) 0;
    margin-bottom: bu(1);

}

input[type="button"],
input[type="submit"] {
    @include btn-base();
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select,
.input-text {

    transition: border $transition $duration;

    -webkit-appearance: none;

    width: 100%;
    padding: bu(2);
    margin-bottom: ms(1);
    border: 2px solid color(neutral, 300);
    border-radius: $border-radius-small;
    font-weight: 400;
    font-size: 1.1rem;
    outline: none;

    &:focus {
        border-color: color(neutral, 600);
    }

}

.nf-error-msg.nf-error-required-error {
    font-weight: $body-bold-weight  !important;
    font-size: 14px !important;
}

.nf-error .ninja-forms-field {
    border-width: 2px !important;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type="search"] {

    border: 2px solid color(neutral, 200);
    background-color: color(neutral);
    height: 40px;
    width: 17.5rem;
    padding-left: 20px;
    border-radius: 99px;
    outline: none;
    font-size: 1.1rem;

    @include media($tablet, true) {

        height: 50px;
        width: 100%;

    }

}

input[type="range"] {

    width: 100%;
    appearance: none;
    height: 0.5rem;
    background: color(neutral, 200);
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;

    &::-webkit-slider-thumb {

        appearance: none;
        width: ms();
        height: ms();
        border-radius: 50%;
        background-color: color(secondary, 500);
        cursor: pointer;
        transition: background .15s ease-in-out;

        &:hover {
            background: color(secondary, 500);
        }

    }

}

select {

    background-color: transparent;
    font-weight: $body-bold-weight;

    &:not([multiple]) {
        background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" fill="hsl(255, 52%, 9%)"/></svg>');
        background-size: 2.5rem;
        background-repeat: no-repeat;
        background-position: right bu(2) center;
        padding-right: 2.5rem;
    }

    &.select--borderless {

        display: inline-block;
        border: 0px;
        background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" fill="hsl(255, 52%, 9%)"/></svg>');
        font-weight: $body-bold-weight;
        text-transform: uppercase;
        width: 10rem;
        padding-left: 0;

    }

}

textarea {

    /* Removes default vertical scrollbar in IE6/7/8/9 */
    overflow: auto;
    padding-left: ms(-1);

    /* Improves readability and alignment in all browsers */
    vertical-align: top;
    width: 100%;

}

label {

    font-weight: $body-bold-weight;

}

label.inline {

    input {
        width: auto;
    }

}

fieldset {

    padding: 0;
    border: 0;
    margin-bottom: ms(1);

    legend {
        font-weight: $body-bold-weight;
    }

}

.nf-error-wrap {

    .nf-error-msg {
        display: inline-flex;
        align-items: center;
        color: utility(utility, alert);
        font-size: 15px;

        &__icon {
            width: bu(6);
            height: bu(6);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            border-radius: 3px 0 0 3px;
        }

        svg {
            width: bu(3);
            height: bu(3);
            fill: color(neutral);
        }
    }
}

.submit-wrap input[ type="button" ] {

    @include btn-base;

    border-radius: 99px;
    background-color: color(secondary, 500) !important;
    border: none;
    color: color(neutral);
    font-weight: $body-bold-weight;

    display: flex;
    align-items: center;

    &:hover,
    &:focus {
        background-color: color(secondary, 600) !important;
    }

}

/**
 * Radio + Checkbox replacement
 * =========================== */

.checkbox-container .checkbox-wrap {
    display: flex;
    flex-wrap: wrap;

    .nf-field-description {
        margin-left: bu(6);
        margin-top: bu(1);

        font-size: 90%;
        color: color(neutral, 600);
    }
}

.checkboxes,
.radios {

    &__item:not(:last-of-type) {
        margin-bottom: bu(1);
    }

}

.checkboxes--inline {

    .checkboxes__item {
        display: inline-block;
        margin-right: bu(3);
    }

}

.radios--inline {

    .radios__item {
        display: inline-block;
        margin-right: bu(3);
    }

}

.checkbox-wrap,
.checkboxes__item,
.radios__item,
.login-remember {

    .nf-field-label {
        padding-left: 0 !important;
    }

    .nf-field-label+.nf-field-element {
        display: none;
    }

    label {

        position: relative;
        display: inline-flex !important;
        align-items: center;
        cursor: pointer;
        font-weight: 400  !important;
        vertical-align: middle;
        margin-left: 0 !important;

    }

    input {

        position: absolute;

        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        padding: 0;
        margin: -1px !important;
        overflow: hidden;
        width: 1px;

        border: 0;

        word-wrap: normal !important;

    }

    label::before {

        content: '';
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-right: bu(2);

        border: 2px solid color(neutral, 600);
        vertical-align: middle;

        transition: all 0.2s ease-in-out;

    }

    input[type="radio"]:checked+label,
    input[type="checkbox"]:checked+label,
    .nf-checked-label {
        color: utility( utility, link );
    }

    input[type="radio"]:checked+label::before,
    input[type="checkbox"]:checked+label::before,
    .nf-checked-label::before {
        border: 2px solid utility( utility, link );
    }


}

.radios__item {

    label::before {

        border: 2px solid color(neutral, 600);

    }

}

// Layout: The position of the element in space. Eg.: position, top, z-index.
// Box: The element itself. Eg.: display, overflow, box-sizing.
// Visual: Design of the element. Eg.: color, border, background.
// Type: Typesetting of the element. Eg.: font-family, text-transform.
.checkboxes__item,
.checkbox-wrap,
.login-remember {

    label::before {
        border-radius: 2px;
    }

    input[type="checkbox"]:checked+label::after,
    .nf-checked-label::after {

        content: "";

        position: absolute;

        top: 0.55rem;
        left: 0.4rem;

        width: 1.2rem;
        height: 0.6rem;
        border: solid;

        background: transparent;

        border-width: 0 0 0.2rem 0.2rem;
        border-bottom-color: color( brand, 500 );
        border-left-color: color( brand, 500 );
        border-top-color: transparent;

        transform: rotate(-45deg);

    }

}

.radios__item {

    label::before {
        border-radius: 50%;
    }

    input[type="radio"]:checked+label::after {

        position: absolute;
        top: 50%;
        left: 0.55rem;
        transform: translateY(-50%);

        border-radius: 50%;
        content: "";

        width: bu(1.85);
        height: bu(1.85);

        background: utility( utility, link );

    }

}

@include media( $phone, true ) {

    .nf-form-cont .nf-field-container {
        &.two-col-list,
        &.three-col-list,
        &.four-col-list,
        &.five-col-list,
        &.six-col-list {
            ul {
                li {
                    width: 50%;
                }
            }
        }
    }

    .nf-form-cont .nf-field-container {
        &.five-sixths,
        &.four-sixths,
        &.one-fourth,
        &.one-half,
        &.one-sixth,
        &.one-third,
        &.three-fourths,
        &.three-sixths,
        &.two-fourths,
        &.two-sixths,
        &.two-thirds {

            margin-left: 0;
            width: 100%;
        }
    }
}