/**
 * Media
 * ============================ */

img {

    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;

    -ms-interpolation-mode: bicubic;
    border-radius: $border-radius-small !important;

    .alignfull & {
        border-radius: 0 !important;
    }

}

.svg-defs svg {
    visibility: hidden;
    position: absolute;
}

.responsive-embed,
.wp-block-embed {

    // height: 0;
    margin-bottom: bu(2);
    overflow: hidden;
    // padding-bottom: 67.5%;
    position: relative;

    // &.wp-embed-aspect-21-9 {
    //     padding-bottom: 42.85%; // 9 / 21 * 100
    // }

    // &.wp-embed-aspect-18-9 {
    //     padding-bottom: 50%; // 9 / 18 * 100
    // }

    // &.wp-embed-aspect-16-9 {
    //     padding-bottom: 56.25%; // 9 / 16 * 100
    // }

    // &.wp-embed-aspect-4-3 {
    //     padding-bottom: 75%; // 3 / 4 * 100
    // }

    // &.wp-embed-aspect-1-1 {
    //     padding-bottom: 100%; // 1 / 1 * 100
    // }

    // &.wp-embed-aspect-9-6 {
    //     padding-bottom: 66.66%; // 6 / 9 * 100
    // }

    // &.wp-embed-aspect-1-2 {
    //     padding-bottom: 200%; // 2 / 1 * 100
    // }

    object,
    embed,
    video,
    iframe {

        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;

    }

}

/**
 * WordPress Image/Caption stuff
 */
figure {

    max-width: 100%;
    margin: 0;

}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.alignleft,
.alignright,
.aligncenter,
.alignnone {
    float: none;
    display: block;
    margin: 0 auto bu(2);
}

@include media( $phone ) {

    .aligncenter,
    .alignnone {

    }

    .alignleft {
        float: left;
    }

    .alignleft {
        float: left;
    }

    .alignright {
        float: right;
    }

}

.wp-caption {
    max-width: 100%;
}

.wp-caption .wp-caption-text {

    font-style: italic;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}