/**
 * Tables
 * ============================ */

table {

    border-spacing: 0;
    width: 100%;
    font-size: 1rem;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: bu(2);

    p {

        margin-bottom: 0;

    }

}

thead {
    border-bottom: 2px solid color( neutral, 600 );
}

thead th {
    padding-bottom: bu(2);
}

tfoot {
    border-top: 2px solid color( neutral, 500 );
}

tfoot td {
    padding-top: bu(2);
}

th {

    padding: bu(1);
    text-align: left;
    vertical-align: top;

    @include media( $tablet ) {

        padding: bu(2) 0;
        width: 20%;

    }

}

tr:not(:last-of-type) {
    border-bottom: 1px solid color( neutral, 200 );
}

td {

    padding: bu(1) 0;
    vertical-align: top;

    @include media( $tablet ) {
        padding: bu(2) 0;
    }
}