/**
 * Typography
 * ============================ */

@font-face {
    font-family: "Caslon Graphique W03 Regular";
    src:
        url("assets/build/fonts/ee0a077c-abaa-496c-bbd9-2104702d6ad0.woff2") format("woff2"),
        url("assets/build/fonts/6a6b1d09-7ac2-446e-b240-7966c9de5af7.woff") format("woff");
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td,
fieldset {
    margin: 0;
    padding: 0;
}

body {

    -ms-word-wrap: break-word;
    word-wrap: break-word;

}

::-moz-selection {

    background: color(secondary, 600);
    color: color(neutral, 100);

}

::selection {

    background: color(secondary, 600);
    color: color(neutral, 100);

}

/**
 * Body font styles
 */
body,
button,
input,
select,
textarea,
p {

    font-family: $body-font;
    font-weight: $body-normal-weight;
    line-height: 1.618;

    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

button,
input,
select,
textarea {

    font-size: 100%;
    margin: 0;
    vertical-align: baseline;

}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.mega {

    margin-top: 0;
    margin-bottom: 1rem;
    font-family: $header-special;
    font-weight: $header-normal-weight;
    color: var(--wp--preset--color--neutral-500);
    line-height: 1;

    @include letter-spacing(-20);

}

b,
strong {
    font-weight: $body-bold-weight;
}

/**
 * Font Sizing
 */
body {
    font-size: 1rem;
    color: var(--wp--preset--color--neutral-600);
}

h6,
.h6 {
    font-size: 1.25rem;
    font-family: $body-font;
}

.entry-content p,
.wp-block-goldfinch-faqs__question-content {
    font-size: 1rem;
}

h1,
.h1 {
    font-size: 1.8rem;
}

h2,
.h2 {
    font-size: 1.4rem;
}

h3,
.h3 {
    font-size: 1.25rem;
}

h4,
.h4 {
    font-size: 1.125rem;
}

.heading--l {
    font-size: 1.6rem;
}

.heading--xl {
    font-size: 2.75rem;
}

.heading--xxl {
    font-size: 3rem;
}

@include media($phone ) {

    h1,
    .h1 {
        font-size: 2rem;
    }

    h2,
    .h2 {
        font-size: 1.7rem;
    }

    h3,
    .h3 {
        font-size: 1.4rem;
    }

    h4,
    .h4 {
        font-size: 1.2rem;
    }

    .entry-content p,
    .entry-content ul,
    .entry-content ol,
    .wp-block-goldfinch-faqs__question-content {
        font-size: 1.125rem;
    }

    .entry-content p.is-style-small-text {
        font-size: 1rem;
    }

    .entry-content p.is-style-subheading {
        font-size: 1rem;
    }

}

@include media($tablet ) {

    .heading--l {
        font-size: 2.25rem;
    }

    .heading--xl {
        font-size: 3rem;
    }

    .heading--xxl {
        font-size: 4rem;
    }

}

@include media($desktop ) {

    h1,
    .h1 {
        font-size: 2.4rem;
    }

    h2,
    .h2 {
        font-size: 2rem;
    }

    h3,
    .h3 {
        font-size: 1.6rem;
    }

    h4,
    .h4 {
        font-size: 1.3rem;
    }

    .heading--l {
        font-size: 2.5rem;
    }

    .heading--xl {
        font-size: 3.5rem;
    }

    .heading--xxl {
        font-size: 4.5rem;
    }

}

/**
 * Links
 */
a {

    transition: all $transition $duration;
    line-height: inherit;
    cursor: pointer;
    color: $link-color;
    text-decoration: none;
    transition: 0.15s ease-in-out;

    .entry-content p &,
    .entry-content .wp-block-image & {

        font-weight: $body-bold-weight;

        &:hover,
        &:focus,
        &.active {

            color: $link-color-hover;

        }

    }

    .entry-content ul &,
    .entry-content ol & {
        font-weight: $body-bold-weight;

        &:hover,
        &:focus,
        &.active {

            color: $link-color-hover;

        }

    }

    img {

        border: 0;

    }

    .entry-content .has-secondary-600-background-color &,
    .entry-content .has-secondary-500-background-color &,
    .entry-content .has-secondary-400-background-color &,
    .entry-content .has-secondary-300-background-color & {
        color: var(--wp--preset--color--neutral-600);

        &:hover,
        &:focus,
        &.active {

            color: var(--wp--preset--color--neutral-600);
            text-decoration: underline;

        }
    }

    .entry-content .has-neutral-600-background-color &,
    .entry-content .has-neutral-500-background-color &,
    .entry-content .has-neutral-400-background-color & {
        color: var(--wp--preset--color--primary-500);

        &:hover,
        &:focus,
        &.active {

            color: var(--wp--preset--color--neutral-600);
            text-decoration: underline;

        }
    }

}


/**
 * Paragraphs
 *
 */
p {

    margin-bottom: bu(2);
    line-height: 1.5;

    &.lead {
        font-size: 120%;
        font-weight: $body-bold-weight;
        line-height: 1.4;
    }

}

@include media($tablet ) {

    p {
        margin-bottom: bu(3)
    }

}

/**
 * Lists
 *
 * Unordered, Ordered, Definitions
 */
ul,
ol {

    @include unstyled-list;

    .entry-content & {
        margin: 0 0 bu(2) bu(3);
        padding-left: bu(2);

        li::marker {
            color: color(tertiary, 600);
            font-weight: $body-bold-weight;
        }

        ul {
            list-style-type: lower-roman;
        }
    }

}

ul {

    @include unstyled-list;

    .entry-content & {
        list-style-type: disc;
    }

}

ol {

    @include unstyled-list;

    .entry-content & {
        list-style-type: decimal;
    }

}

dl {
    margin: 0 0 bu(2);
}

dt {
    font-weight: $body-bold-weight;
}

dd {
    margin: 0 0 bu(3);
}


/**
 * Quotes
 */
blockquote {

    font-weight: $body-bold-weight;

}

cite {

    color: $text-color;
    font-style: normal;

}

dfn,
em,
i {
    font-style: italic;
}

address {
    font-style: normal;
    margin: 0 0 bu(2);
}

abbr,
acronym {
    border-bottom: 1px dotted;
    cursor: help;
}

hr {
    height: bu(1);
    margin: bu(8) 0;
    width: 60%;
    border: 0;
    border-radius: $border-radius;

}

/**
 * Monospaced stuff
 *
 */
code,
kbd,
tt,
var,
samp,
pre {
    font-family: Inconsolata, monospace;
}

pre {

    border: 1px solid color(neutral, 500);
    font-size: bu(2);
    line-height: bu(3);
    margin: 0 0 bu(4);
    max-width: 100%;
    overflow: auto;
    padding: bu(4);
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;

}

ins,
mark {

    background: 0 0;

}

mark {

    font-weight: $body-bold-weight;

}
