/**
 * Utility classes
 * ============================ å*/

@each $color, $value in $palette {

    $shade: map-get( $value, base );

    .button--#{$color} {
        color: $shade;

        &:hover,
        &:focus {
            color: map-get( $value, dark );
        }
    }

    .has-#{$color}-color {
        color: $shade;
    }

    .has-#{$color}-background-color {
        background-color: $shade;

        &.wp-block-button__link {

            &:hover,
            &:focus {
                background-color: map-get( $value, dark );
            }

        }

    }

}

/**
 * Spacing
 * ---------------------------------------------*/

@for $i from 0 through 10 {

    .mb-#{$i} {
        margin-bottom: bu($i) !important;
    }

    .mt-#{$i} {
        margin-top: bu($i) !important;
    }

    .pb-#{$i} {
        padding-bottom: bu($i) !important;
    }

    .pt-#{$i} {
        padding-top: bu($i) !important;
    }

}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-padding-width {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-height {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.footer-butter {
    margin-bottom: - bu(8) !important;
}

/**
 * Typography
 * ---------------------------------------------*/

.text--small {
    font-size: 95%;
}

.text--large {
    font-size: 112.5%;
}

.text--bold {
    font-weight: $body-bold-weight;
}

.is-style-subheading {
    @include subheading;

    & + * {
        margin-top: bu() !important;
    }
}


/**
 * Borders
 * ----------------------------------------------*/

.border--top {
    border-top: 1px solid;
}

.border--bottom {
    border-bottom: 1px solid;
}

.border--thick {
    border-width: 4px;
}