.card {

    border: 1px solid color( neutral, 200 );
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 6px 10px color(neutral, 200);

    .post__thumbnail {
        overflow: hidden;

        img {
            transform: scale(1);
            transition: transform 0.2s ease-in-out;
        }
    }

    &:hover {
        .post__thumbnail img {
            transform: scale(1.1);
            transition: transform 0.2s ease-in-out;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: bu(3);
    }

    .post__header {
        margin-bottom: bu(1);
    }

    .post__title a {
        color: color( neutral, 500 );

        &::after {
            content: '';
            position: absolute;
            inset: 0;
        }
    }

}