/**
 * Default Post
 * ============================ */

 .updated:not( .published ) {
    display: none;
}

.template--blog {

    .latest-posts-link {
        font-family: $body-font;
        margin-bottom: 0;
        font-size: 1.4rem;

        a {
            text-decoration: underline;
            color: color( neutral, 700 );
        }
    }

    .categories-links {
        width: 100%;
        display: flex;
        align-items: center;

        .categories-label {
            margin-right: bu(2);
        }

        a {
            border: 2px solid color( secondary, 500 );
            border-radius: 99px;
            padding: bu(0.5) bu(2);
            color: color( secondary, 500 );
            font-weight: $body-bold-weight;
            font-size: 0.9rem;
            margin-right: bu();

            &:hover {
                border: 2px solid color( secondary, 600 );
                color: color( secondary, 600 );
            }
        }
    }

    .paged-count {
        position: absolute;
        bottom: 1rem;
    }

    .posts--main {
        display: grid;
        gap: bu(4);
    }
}

@include media( $phone ) {

    .template--blog {
        .posts--main {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
    }
}

@include media( $tablet ) {

    .template--blog {
        .posts--main {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
        }
    }
}

@include media( $desktop ) {

    .template--blog {
        .posts--main {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
        }
    }
}