/**
 * Entry Meta
 * ============================ */

.post__meta {

    .template--single-post & {

        .posted-on a {
            color: color(neutral, 600);
        }

        .categories-links {
            display: flex;
            justify-content: center;

            a {
                margin: 0 bu(1);
            }

        }
    }

    .categories-links a,
    .posted-on a {
        position: relative;
        z-index: 1;
    }

    .tag-links,
    .categories-links {

        .tags,
        .categories {
            display: flex;
            align-items: center;
        }

        a {
            @include letter-spacing(150);
            color: color( secondary, 500 );
            font-weight: $body-bold-weight;
            text-transform: uppercase;
            margin-right: 1rem;

            &:hover,
            &:focus {
                color: $link-color;
            }
        }
    }
}

.nav-link {

    padding: 0 bu(3) bu(3);
    position: relative;
    z-index: 1;
    flex: 0;

    a {
        font-size: 0.9rem;
        display: inline-flex;
        align-items: center;
        font-weight: $body-bold-weight;

        &:hover {
            color: color( neutral, 600 );
            svg {
                stroke: color(neutral, 600);
            }
        }
    }

    svg {
        height: bu(1.5);
        width: bu(1.5);
        margin-left: 4px;
        stroke: $link-color;
        stroke-width: 2;
    }

}