/**
 * Post Navigation
 * ============================ */

.template--single-post {

    .nav-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: $link-color;
            margin-bottom: bu(2);

            &:hover {
                color: $link-color-hover;
            }

            .nav-arrow {
                color: color( neutral, 300 );
            }
        }
    }
}

@include media( $tablet ) {

    .template--single-post {

        .nav-links {
            justify-content: space-between;
            flex-direction: row;

            a {
                display: flex;
                flex-direction: column;
                margin-bottom: bu(4);
                text-align: left;
            }
        }

        .nav-next a {
            text-align: right;
        }

    }

}