/**
 * Single Post
 * ============================ */

.template--single-post {

    .post__header {

        @include alignfull;

        display: flex !important;
        background-color: color(neutral, 200);
        position: relative;
        align-items: center;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &.has-page-thumbnail::after {
            content: '';
            background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(240,232,224,0.7) 60%);
            position: absolute;
            inset: 0;
        }

        &--inner {
            @include content-container;

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            position: relative;
            z-index: 1;
            min-height: 250px;
            width: auto;
            margin-bottom: bu(4);
            text-align: center;

            & > * {
                @include content-width;
            }
        }

        &.has-page-thumbnail .post__header--inner { min-height: 350px; }
        &.has-page-thumbnail .post__header--inner > * { color: color(neutral, 700); }

    }

    .post__content > * {

        @include content-width( true );
        @include block-margin(3);

        &.alignwide {
            width: 100%;
            @include block-margin(5);
        }

        &.alignfull {
            @include alignfull;
            @include block-margin(5);
        }
    }
}

@include media($tablet) {

   .template--single-post {

        .post--single {

            display: flex;
            flex-direction: column;
            gap: bu(2) bu(6);
        }

        .post__content > * {

            @include block-margin(4);

            &.alignwide,
            &.alignfull {
                @include block-margin(6);
            }
        }
    }
}