.template--error404  {

    background-color: color( tertiary, 200 );

    .content-area {
        display: flex;
        align-items: center;

        margin-top: 4rem;
    }

    .error-404 > * {
        @include content-width( true );
        text-align: center;
    }

}