.template--search {

    .search-results .hentry {

        border-bottom: 2px solid color( tertiary, 200);
        padding-bottom: bu(6);
        margin-bottom: bu(6);

        &:last-of-type {
            border-bottom: none;
        }

        .search-result__title a {
            font-family: $body-font;
            color: color( neutral, 600 );
        }

        .search-result__permalink {
            color: color( secondary, 600 );
        }

        .search-result__content p {
            margin-bottom: 0;
        }

    }

    .pagination .page-numbers {
        justify-content: flex-start;
    }
}