/**
 * Default Template
 * ============================ */

.template {

    .page__header {

        background-color: var( --wp--preset--color--tertiary-200 );
        padding-top: bu(6);
        padding-bottom: bu( 5 );
        position: relative;

        margin-bottom: bu(6);

        @include alignfull;

        &-inner > * {
            width: 90%;
        }

    }

    .page__header-inner {
        @extend .content-wrapper;
    }

    .page__intro {
        margin-bottom: 0;
    }

    .search-results > * {
        @include content-width();
        @include block-margin(3);
    }

    .page__content > * {

        @include content-width( true );
        @include block-margin(3);

        &.alignwide {
            @include block-margin(5);
            width: 100%;
        }

        &.alignfull {
            @include alignfull;
            @include block-margin(6);
        }
    }

    &--default {
        .page__content > * {
            margin-left: 0;
        }
    }
}

@include media( $phone ) {

    .template {

        .page__header {
            padding-top: bu(11);
            padding-bottom: bu( 10 );

            &-inner > * {
                width: 60%;
            }
        }
    }
}

@include media( $tablet ) {

    .template {

        .page__header {
            padding-top: bu(11);
            padding-bottom: bu( 10 );
            margin-bottom: bu(8);

            &-inner > * {
                width: 40%;
            }
        }

        .page__content > * {

            @include block-margin(6);

            &.alignwide {
                @include block-margin(10);
            }

            &.alignfull {
                @include block-margin(12);
            }
        }

    }

}

@include media( $desktop ) {

    .template {

        .page__content > * {

            &.alignwide {
                @include block-margin(12);
            }

            &.alignfull {
                @include block-margin(14);
            }
        }

    }

}