.page-template--under-contruction {

    background-color: color( tertiary, 400 );

    .site {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .branding {

        svg {
            height: auto;
            width: 16rem;
            margin: 0 auto;
        }

    }

    .page-heading  {
        text-align: center;
        font-family: $body-font;
        font-weight: $body-bold-weight;
    }

    .page-content > * {
        @include content-width(true);
    }

    .page-content p {
        margin: 0 auto;
        text-align: center;
    }

}

@include media( $phone ) {

    .page-template--under-contruction {

        .branding svg {
            width: 20rem;
        }

    }

}

@include media( $tablet ) {

    .page-template--under-contruction {

        .branding svg {
            width: 28rem;
        }

        .page-content p {
            font-size: 1.2rem;
        }

    }

}