/**!
 * Vendor
 * ================================ */

// This needs to be loaded up before neat
@import "abstracts/grid-settings";

/**!
 * Authored
 * ================================ */
@import "abstracts/module";

@import "base/utilities";

.editor-post-title__block .editor-post-title__input {
    font-family: $header-font;
}

.block-editor-block-list__block,
.block-editor-block-list__block p {
    font-family: $body-font;
}

.wp-block-heading {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        font-weight: 400;
        font-family: $header-font;
        line-height: 1;

    }

}