/**
 * Site Map
 * ============================ */

.navigation--site-map {

    z-index: z( $z-elements, menus );

    ul {

        @include unstyled-list;

    }

    li {
        display: block;
    }

    a {
        padding: 0;
        color: color( neutral, 900 );
    }

    & > .menu > li:hover > a,
    & > .menu > li.focus > a {

    }

}