/**
 * Main Navigation
 * ============================ */

.navigation--main {

    z-index: z( $z-elements, menus );

    ul {

        @include unstyled-list;

    }

    a {
        font-weight: $body-bold-weight;
        color: var(--wp--preset--color--neutral-400);

        .template--light-header & {
            color: var(--wp--preset--color--neutral-100);
        }

    }

    .navigation__nav-item--button {

        margin-left: bu(2);

        a {
            border: 2px solid var(--wp--preset--color--secondary-400);
            color: var(--wp--preset--color--secondary-600);
            border-radius: $border-radius-pill;
            padding: bu(0.5) bu(2.5);
            font-weight: $body-bold-weight;
            font-size: 1rem;
        }

        .template--light-header & {

            a {
                border: 2px solid var(--wp--preset--color--neutral-100);
                color: var(--wp--preset--color--neutral-100);
            }
        }
    }
}