/**
 * Base Navigation Styles
 * ============================ */

.navigation {

    @include unstyled-list;

    a {
        display: block;
    }

    &__sub-menu {
        @include unstyled-list;
    }


    &__nav-item {
        display: inline-block;

        a {
            padding: bu(2);
        }

    }

    &__nav-item--arrow {

        margin-top: bu(1);

        svg {
            width: 12px;
            margin-left: bu(1);

            fill: $link-color;
        }

    }


}