.nav-toggle {

    background-color: var( --wp--preset--color--secondary-500 );
    color: var( --wp--preset--color--neutral-100 );
    border-radius: $border-radius-pill;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: bu(1) bu(2) 0.4rem;
    cursor: pointer;
    font-family: $body-font-condensed;
    text-transform: uppercase;

    z-index: z( $z-elements, menus );

    &__icon {
        fill: $link-color;
        width: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: bu(1);
    }

    &__text {
        line-height: 24px;
        height: 22px;
    }

    .menu__close {
        visibility: hidden;
        opacity: 0;
    }

    .js-nav-open & {

        .menu__open {
            visibility: hidden;
            opacity: 0;
        }

        .menu__close {
            visibility: visible;
            opacity: 1;
        }

    }

}

.small-screen-navigation {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--wp--preset--color--tertiary-200);
    align-items: flex-end;
    width: 100%;
    height: 100%;

    z-index: z( $z-elements, menus );
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    overflow: scroll;

    .js-nav-open & {
        display: flex;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s 0s, visibility 0s 0s;
    }

}

.navigation--small-screen {

    padding: bu(6) bu(3);
    width: 100%;

    li {
        display: block;
    }

    a {
        font-weight: $body-bold-weight;
        font-size: 1.25rem;
        padding: bu(1) 0;
    }

    & > li > a {
        color: color( neutral, 900 );
        display: block;
    }

    .navigation__nav-item--button {

        margin-left: 0;
        margin-top: 1rem;

        a {
            display: inline-flex;
            border: 2px solid var(--wp--preset--color--secondary-400);
            color: var(--wp--preset--color--secondary-600);
            border-radius: $border-radius-pill;
            padding: bu(0.5) bu(2.5);
            font-weight: $body-bold-weight;
            font-size: 1rem;
        }
    }
}

@include media( $phone ) {

    .navigation--small-screen {

        padding: bu(6) bu(4);

    }

}