@include media( $tablet ) {

    .main-navigation {

        .navigation__nav-item--back {
            display: none !important;
        }

        .navigation--main {

            & > .navigation__nav-item--has-children {

                position: relative;

                > a {

                    display: flex;
                    align-items: center;
                }

                ul.navigation__sub-menu {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 100%;
                    background-color: color( neutral, 600 );
                    border: 2px solid color( neutral, 600 );
                    box-shadow: 0 15px 15px -15px rgba( 29, 33, 47, 0.2 );
                    width: auto;
                    min-width: 12rem;
                    left: 50%;
                    transform: translateX( -50% );
                    text-align: left;
                    line-height: initial;
                    z-index: z( $z-elements, menus );
                    transition: opacity $duration $transition, visibility 0s $duration $transition;

                    &::before {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 7.5px 8px 7.5px;
                        border-color: transparent transparent color( neutral, 600 ) transparent;
                        position: absolute;
                        top: - bu(1);
                        left: 50%;
                        transform: translateX( -50% );
                    }

                    li {
                        display: block;
                    }

                    a {
                        color: color( neutral,200 );
                        white-space: nowrap;
                        padding: bu(1.5) bu(4);
                        text-align: center;

                        &:hover {
                            background-color: color( tertiary, 200 );
                            color: color( neutral,600 );
                        }
                    }
                }
            }

            & > .navigation__nav-item--has-children:hover > ul.navigation__sub-menu,
            & > .navigation__nav-item--has-children.focus > ul.navigation__sub-menu {
                opacity: 1;
                visibility: visible;
                transition: opacity $duration $transition, visibility 0s 0s;
            }

        }

    }

}
