/**
 * Legal Nav
 * ============================ */

.navigation--legal {

    ul {

        @include unstyled-list;

    }

    li {
        margin: 0 bu(2) bu(1) 0;
    }

    a {
        padding: bu(1) 0;
        text-decoration: underline;
        color: color( neutral, 900 );
    }

    & > .menu > li:hover > a,
    & > .menu > li.focus > a {

    }

}