/**
 * Site Branding
 * ============================ */

.branding {

    display: block;
    z-index: z( $z-elements, overlay );

    a {

        display: block;
        margin: 0 auto;

    }

    svg {
        display: block;
        width: auto;
        height: bu(3);
        fill: var(--wp--preset--color--neutral-500);

        .template--light-header & {
            fill: var( --wp--preset--color--neutral-100 );
        }

        .js-nav-open & {
            fill: var( --wp--preset--color--neutral-500 );
        }

    }

}

@include media( $tablet ) {

    .branding {

        svg {
            height: bu(3);
        }

    }

}