
.site-copyright {}

.copyright-list {

    &__item {

        display: inline-block;
        color: var(--wp--preset--color--neutral-500);
        margin-right: bu(1);

        a {
            text-decoration: underline;
            color: var(--wp--preset--color--neutral-600);
        }

    }

}