/**
 * Pagination
 * ============================ */

 .pagination .page-numbers {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: bu(4);

    li {

        display: inline-block;

        .page-numbers {

            border-left-width: 0;
            padding: bu(1) bu(2);
            margin: 0 bu(0.5);
            text-transform: uppercase;
            font-size: 1rem;

            &:not(.dots) {

                background-color: color( tertiary, 300 );
                border-radius: 2px;
                color: color( neutral, 600 );

                &:hover,
                &:focus {
                    background-color: color( tertiary, 400 );
                    color: color( neutral );
                }
            }

            &.current {
                background-color: color( tertiary, 400 );
                color: color( neutral );
                font-weight: $body-bold-weight;

                &:hover,
                &:focus {
                    background-color: color( tertiary, 400 );
                    color: color( neutral );
                }
            }
        }
    }
}