.search-form-container {

    .search-form {

        display: flex;
        margin-top: bu(8);
        position: relative;
    }

    input[type="search"] {
        width: 100%;
        margin-bottom: 0;
        border: 1px solid color( tertiary, 300 );
        border-radius: 4px;
        padding: bu(3);
        height: 60px;
    }

    svg {
        position: absolute;
        stroke: color( tertiary, 300 );
        stroke-width: 2;
        height: bu(3);
        width: bu(3);
        top: 50%;
        right: bu(3);
        transform: translateY(-50%);
    }
}