.slick-dots {

    bottom: unset !important;
    top: 0rem;
    text-align: right;
    margin-left: 0 !important;
    padding-left: 0 !important;

    li {
        margin: 0 2px;
        height: 12px;
        width: 12px;
    }

    li button {
        border: 1px solid color( secondary, 400 );
        border-radius: 99px;
        height: 12px;
        width: 12px;
    }

    li button::before {
        border-radius: 99px;
        height: 12px;
        width: 12px;
        opacity: 1 !important;
        content: '';
    }

    li.slick-active button::before {
        background-color: color( secondary, 400 );
    }

    .is-style-with-navigation & {
        top: -2.5rem;
    }

}

@include media($tablet) {

    .slick-dots {

        padding-right: bu(4) !important;

    }

}