/**
 * Site Social
 * ============================ */

.social-links {

    ul {

        @include unstyled-list( true );

        text-align: center;

        @include media( $laptop ) {

            text-align: right;

        }

    }

    a {

        display: block;
        padding: bu(1);

    }

}