/**
 * Authored Functions
 * ============================ */

/**
 * Z-index
 *
 * Takes the list of layers (see: variables ) and
 * returns the index of the named element. Logs a
 * warning if there's no such named element in the list.
 *
 */
@function z($list, $element) {

   $z-index: index($list, $element);

   @if $z-index {
      @return $z-index;
   }

   @warn 'There is no item "#{$element}" in this list; choose one of: #{$list}';
   @return null;

}

/**
 * Color
 *
 * @param  $color Named colour in the palette (e.g Blue).
 * @param  $tone  E.g. light, dark, medium etc.
 * @return $tone  The Hex/HSL value of the selected tone
 */
@function color( $color, $tone: 100 ) {

    @return var(--wp--preset--color--#{$color}-#{$tone});

}

@function utility( $color, $tone: 100 ) {

    @if map-has-key( $palette, $color ) {
        $color: map-get( $palette, $color );

            @if map-has-key( $color, $tone ){
                $tone: map-get( $color, $tone );
                @return $tone;
            }

            @warn "unknown tone `#{$tone}` in color";
            @return null;
    }

    @warn "unknown color `#{$color}` in palette";
    @return null;

}

/**
 * Base Unit
 *
 * Set size units via a function for easy sitewide changes
 * (e.g. use a 10px baseline instead of an 8px baseline).
 *
 */
@function bu( $value: 1 ) {

    $base: 0.5;

    $unit: $value * $base;
    @return #{$unit}rem;

}