/**
 * Grid Settings
 * ============================ */

// Grid settings
$grid-columns: 12;
$max-width: 1300px;

$phone:                 600px;
$tablet:                900px;
$laptop:                1200px;
$desktop:               1400px;
$big-desktop:           1800px;

@mixin media( $screen, $down: false, $orientation: false ) {

    $direction: '';
    $layout: '';

    @if ($down == true) {
        $screen: "only screen and (max-width: #{$screen - 1} )";
    } @else {
        $screen: "screen and (min-width: #{$screen} )";
    }

    @if ($orientation) {
        $layout: "and (orientation: #{$orientation})"
    }

    @media #{$screen}#{$layout}  { @content; }

}