/**
 * Authored Mixins
 * ============================ */

@mixin clearfix() {

  &::after {
    clear: both;
    content: "";
    display: block;
  }

}

@mixin container-padding( $content-width ) {

    padding-left: calc( ( 100vw - #{ $content-width } ) / 2 );
    padding-right: calc( ( 100vw - #{ $content-width } ) / 2 );

}

@mixin outer-container( $local-max-width: $max-width ) {

    max-width: $local-max-width;
    margin: {
        left: auto;
        right: auto;
    }

}

@mixin content-container() {

    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @include media( $phone, $orientation: 'portrait' ) {

        margin-left: 2rem;
        margin-right: 2rem;

        width: calc( 100% - 4rem );

    }

    @include media( $phone, $orientation: 'landscape' ) {

        margin-left: 1rem;
        margin-right: 1rem;

        width: calc( 100% - 2rem );

    }

    @include media( $tablet ) {

        margin-left: 3rem;
        margin-right: 3rem;

        width: calc( 100% - 6rem );

    }

    @include media( $laptop ) {

        @include outer-container( 1100px );

    }

    @include media( $desktop ) {

        @include outer-container( 1300px );

    }

    @include media( $big-desktop ) {

        @include outer-container( 1400px );

    }

}

@mixin content-width($center: false) {

    width: 100%;

    @if $center==true {
        margin-left: auto;
        margin-right: auto;
    }

    @include media($phone ) {

        width: 90%;
    }

    @include media($tablet ) {

        width: 70%;
    }

    @include media($desktop ) {

        width: 55%;
    }

}

@mixin block-margin($margin-multiplier: 1, $collapseMargin: false, $important: false) {

    margin-bottom: bu($margin-multiplier);
    margin-top: bu($margin-multiplier);

    @if $collapseMargin==true {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    @if $important==true {
        margin-bottom: bu($margin-multiplier) !important;
        margin-top: bu($margin-multiplier) !important;
    }

}

// Remove margins and bullets/numbers on lists.
@mixin unstyled-list( $inline: false ) {

    margin: 0;
    padding: 0;
    list-style-type: none;

    @if ( $inline ) {
        li {
            display: inline-block;
        }
    }

}

// Horizontal centre
@mixin auto-margin {

    margin: {
        left: auto;
        right: auto;
    }

}

// Hide text, but make sure it can be read still by screen readers.
@mixin screen-reader-text {

    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

}

// Button mixin
@mixin btn-base() {

    display: flex;
    align-items: center;
    padding: 0.6rem 1.8rem;
    border: 4px solid;
    box-shadow: initial;
    transition: all 0.2s;

    font: {
        size: 18px;
        family: $body-font;
        weight: $body-bold-weight;
    }

    text: {
        align: center;
        decoration: none;
    }

    cursor:pointer;

}

@mixin btn-solid( $bg-color, $text-color, $bg-hover:  color( neutral, 100 ), $text-hover: $text-color ) {
    background-color: $bg-color;
    color: $text-color;

    &:hover,
    &:focus {
        background-color: $bg-hover;
        color: $text-hover;
    }

}

@mixin btn-hollow( $color, $bg-hover: $color ) {
    background-color: transparent;
    border: 2px solid;
}

@mixin btn-simple() {
    background-color: transparent;
    border: 0 !important;
    padding: 0.25rem 0;
}

@mixin heading() {

    text-transform: uppercase;

}

// Subheadings
@mixin subheading() {

    @include letter-spacing(300);

    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $body-bold-weight;
    margin-bottom: 0 !important;

}

@mixin bg-image() {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@mixin flex-container {

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start; // stretch for equal heights
    align-content: center;
    box-sizing: border-box;

}

@mixin alignfull {

    margin-left  : calc( -100vw / 2 + 100% / 2 ) !important;
    margin-right : calc( -100vw / 2 + 100% / 2 ) !important;
    max-width    : 100vw;
    width: 100vw;

}

@mixin initial-align {
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    width: initial;
}

@mixin letter-spacing( $letter-spacing ) {
    letter-spacing: ( $letter-spacing / 1000 ) * 1em;
}