/**
 * Variables
 * ============================ */

// See _functions.scss for color function to
// retrieve these values
//
$palette: (
    neutral: (
        100:   hsl( 189, 2%, 100% ),
        200:   hsl( 189, 4%, 98% ),
        300:   hsl( 189, 6%, 94% ),
        400:   hsl( 189, 8%, 90% ),
        500:   hsl( 189, 10%, 80% ),
        600:   hsl( 189, 20%, 70% ),
        700:   hsl( 189, 30%, 50% ),
        800:   hsl( 189, 40%, 35% ),
        900:   hsl( 189, 50%, 15% )
    ),
    primary: (
        200:   hsl( 189, 94%, 65% ),
        300:   hsl( 189, 94%, 55% ),
        400:   hsl( 189, 94%, 45% ),
        500:   hsl( 189, 94%, 35% ),
        600:   hsl( 189, 94%, 25% )
    ),
    secondary: (
        200:   hsl( 340, 82%, 72% ),
        300:   hsl( 340, 82%, 62% ),
        400:   hsl( 340, 82%, 52% ),
        500:   hsl( 340, 82%, 42% ),
        600:   hsl( 340, 82%, 32% )
    ),
    utility: (
        link:    hsl( 220, 65%, 50% ),
        success: hsl( 97, 100%, 35% ),
        error:   hsl( 45, 100%, 56% ),
        alert:   hsl( 0, 100%, 64% )
    )
);

// Links
$link-color: utility( utility, link );
$link-color-hover: color( neutral, 600 );

// Typography
$body-font: "abadi", sans-serif;
$body-font-condensed: "abadi-condensed", sans-serif;
$header-font: "abadi", sans-serif;
$header-special: "Caslon Graphique W03 Regular", sans-serif;
$body-bold-weight: 700;
$body-extrabold-weight: 900;
$body-normal-weight: 400;
$header-bold-weight: 700;
$header-normal-weight: 400;

$text-color: color( neutral, 900 );

// Transitions
$transition: ease-in-out;
$duration  : 0.2s;
$delay     : 0.2s;

// Z indices
$z-elements: off-canvas, site, menus, overlay, modals;

// Buttons
$button-background:       color( primary, 400 );
$button-background-hover: color( primary, 500 );
$button-color:            color( neutral, 100 );
$border-radius:           5px;
$border-radius-small:     3px;
$border-radius-pill:      999px;